<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :video_name %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :video_genre %>
  </div>

  <div class="field">
    <%= form.label :year_released %>
    <%= form.text_field :year_released, id: :video_year_released %>
  </div>

  <div class="field">
    <%= form.label :classification %>
    <%= form.text_field :classification, id: :video_classification %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :video_description %>
  </div>

  <div class="actions btn btn-warning">
    <%= form.submit %>
  </div>
<% end %>
